extends ../layout/index
block content
  #speakerList.container
    .row
      .col-sm-8
        article.speakerslist
          .container
            .row
              .col-sm-8
                h3.speakerslist-title Art in Full Bloom
                h5.speakerslist-name
                  | with
                  a(href='/speakers/Lorenzo_Garcia') Lorenzo Garcia
                p.speakerslist-info
                  a(href='/speakers/Lorenzo_Garcia')
                    img.speakerslist-img.img-circle.pull-left(src='./images/speakers/Lorenzo_Garcia_tn.jpg', alt='Photo of Lorenzo Garcia')
                  |                   Drawing and painting flowers may seem like a first-year art student's assignment, but Lorenzo Garcia brings depth, shadows,
                  |                   light, form and color to new heights with his unique and revolutionary technique of painting on canvas
                  |                   with ceramic glaze. This session is sure to be a hit with mixed media buffs.
      aside.col-sm-4
        article.sidebar
          include ../includes/artwork