doctype html
html
  head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/error.css', type='text/css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    // ---- Include the above in your HEAD tag --------
    body
      .error-content
        .container
          .row
            .col-md-12
              .error-text
                h1.error=status
                .im-sheep
                  .top
                    .body
                    .head
                      .im-eye.one
                      .im-eye.two
                      .im-ear.one
                      .im-ear.two
                  .im-legs
                    .im-leg
                    .im-leg
                    .im-leg
                    .im-leg
                h4=message
                if(error)
                  pre=error.stack
